.hidden {
    display: none;
}

.display-container {
    padding-top: 25vh;
    margin-left: 10vw;
}

.display-container h1, .display-container pre {
    margin: 0;
    border: 0;
    padding: 0;
}

.display-container pre {
    font-size: 0.8rem;
    font-style: italic;
}
